@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

header {
  background-color: #172741;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  /* float: left;
  margin-left: 10px; */
  height: 16vh;
  align-items: center;
}

.navbar {
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  letter-spacing: 3px;
}

.nav-branding {
  text-align: left;
  max-height: 14vh;
  align-items: center;
}

.nav-link {
  transition: 0.7 ease;
}

.nav-link:hover {
  border-bottom: 3px solid #C4A862;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Buttons */

.abt-btn {
    margin: 25px 25px 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.button {
    border-radius: 12px;
    background-color: #172741;
    border: none;
    color: white;
    font-size: 20px;
    width: 15vw;
    height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
    align-items: center;
  }


  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Carousel */

.carousel {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }

  .img-container-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }

  /* Main msg home page */ 
  .plain-text {
    font-size: 15px;
    margin: 0 50px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-size: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    }
  
    .plain-text h1 {
      color: #172741;
    }

    /* About us */

    .aboutus {
        margin: 25px 25px 50px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
      }
      
      .aboutus h1 {
        font-size: 6vw;
        font-weight: bold;
        color: #c5aa64;
      }
      
      .aboutus .h2 {
        font-size: 3vw;
      }

      .galery-1 {
        display: flex;
      }

      .text-left-galery {
        width: 50vw;
        height: 500px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .text-left-galery p{
        font-size: 20px;
        color: #172741;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40vw;
        margin-right: 25px;
      }
      
      .text-left {
          background-color: 	rgba(167,160,145,0.3);
          width: 50vw;
          height: 500px;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
      
      }
      
      .text-left p{
          font-size: 20px;
          color: #172741;
          font-weight: bold;
          text-align: center;
          align-items: center;
          float: right;
      }

      .section-left {
        display: flex;
        padding: 40px;
        width: 100vw;
        height: 500px;
        margin-bottom: 5%;
    }
    
    .section-left img {
        width: 50vw;
        height: 500px;
        border-radius: 25px;
        margin-right: 10px;
    }

    /* Contact Page */

    .wrapper{
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
      }
      .wrapper .static-text{
        color: #172741;
        font-size: 60px;
        font-weight: 400;
      }
      .wrapper .dynamic-text{
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
      }
      .dynamic-text li{
        list-style: none;
        color: #c5aa64;
        font-size: 60px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }
      .dynamic-text li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
      }
      .dynamic-text li span::after{
        content: "";
        position: absolute;
        left: 0;
        height: 110%;
        width: 100%;
        background: white;
        border-left: 2px solid #c5aa64;
        animation: typing 3s steps(19) infinite;
      }
      @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }

      /* Form */

  .form-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #172741;
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #c5aa64);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #c5aa64;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #c5aa64;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: transparent;
    color: #fff;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #c5aa64;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #172741;
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #526480, #172741);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #c5aa64;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(167,160,145,0.6), #c5aa64);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
  .hlogo {
    position: absolute;
    height: 350px;
    top: 50%;
    left: 30%;
    transform: translate(181%, 11%);
    filter: invert(10%) sepia(47%) saturate(1513%) hue-rotate(188deg) brightness(94%) contrast(89%);
    opacity: 20%;
  }


  /* Recent work image galery */
  #content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .column{
    width: 600px;
    padding: 10px;
  
  }
  
  #featured{
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
  
  }
  
  .thumbnail{
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
  
  }
  
  .thumbnail:hover{
    opacity:1;
  }
  
  .active{
    opacity: 1;
  }
  
  #slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
  }
  
  #slider{
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  #slider::-webkit-scrollbar {
      width: 8px;
  
  }
  
  #slider::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
  }
   
  #slider::-webkit-scrollbar-thumb {
    background-color: #172741;
    outline: 1px solid slategrey;
     border-radius: 100px;
  
  }
  
  #slider::-webkit-scrollbar-thumb:hover{
    outline: 3px solid #c5aa64;
  }
  
  .arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
  }
  
  .arrow:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  /* footer */
footer {
    bottom: 0;
    max-width: 100%;
    height: 150px;
    display: inline;
    text-align: center;
}

#footer-content {
    background: #172741;
}

#copywrite p {
  color: white;
  padding-bottom: 0.5s%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.social-networks i:hover {
    color: #C4A862;
}

@media(max-width:786px){
  .hamburger{
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    position: fixed;
    left: -110%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: #172741;
    width: 100%;
    text-align: center;
  }
  
  .nav-item {
    margin: 16px 0; 
  }
  
  .nav-menu.active {
    left: 0;
  }
  
}