@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #172741;
  line-height: 1.6;
  font-size: 1rem;
}

/*#blue {
  background-color: #172741;
}

h1 {
  text-align: center;
}*/

#logo {
  height: 10vh;
  align-items: center;
}

.list a {
  transition: 0.7 ease;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.25rem;
}

.list:hover {
  border-bottom: 3px solid #d65e20;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #172741;
  color: #FFF;
  padding: 1em;
  height: 14vh;
}

.list .actual {
  color:#d65e20;
  border-bottom: 2px solid #d65e20;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: #172741;
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* Buttons */

/*#mission {
  margin: 25px 25px 50px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.abt-btn {
    margin: 25px 25px 50px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}*/

.button {
    border-radius: 12px;
    background-color: #172741;
    border: none;
    color: white;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
    cursor: pointer;
    display: inline-block;
  }


  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Carousel */

/*.carousel {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }*/

  /* Main msg home page */ 
  /*.plain-text {
    max-width: 90%;
    margin: 8vh;
    height: 20vh;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-size: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #172741;
    font-size: 50px;
    }
  
    .plain-text h1 {
      color: #d65e20;
    }

    .ethos-text-road {
      max-width: 90%;
      margin: 8vh;
      height: 20vh;
      display: flex;
      text-align: center;
      margin: auto;
      justify-content: center;
      align-items: center;
      background-size: 30vh;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #172741;
      font-size: 50px;
      }
    
      .ethos-text-road h5 {
        color: #d65e20;
      }*/

    /* About us */

    /*#about1 {
      display: contents;
    }

    #about {
      display: none;
    }

    .aboutus {
      margin: 25px 25px 50px;
      text-align: center;
      font-weight: bold;
    }
      
    .aboutus h1 {
      color: #d65e20;
    }
      
    .aboutus h2 {
      font-size: 2rem;
    }

    .galery-1 {
      display: flex;
      padding: 80px;
    }

    .section-left {
      width: 50%;
      padding: 20px;
      margin: auto;
      text-align: center;
  }

  .section-left1 {
    display: none;
  }
      
    .section-left p{
      font-size: 1.25rem;
      color: #172741;
      font-weight: bold;
      margin: auto;
      text-align: center;
      width: 80%;
    }
    
    .section-left img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      align-items: center;
      width: 80%;
      border-radius: 25px;
    }*/

    /* Contact Page */

    .dynamic {
      max-width: 90vw;
      height: 60vh;
      color: #172741;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .dynamic h1 {
      font-size: 5rem;
      font-weight: 400;
    }

    .auto-type {
      color: #d65e20;
    }

    .wrapper{
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 60vh;
    }
    
  /* Form */

  .lkfor {
    color: white;
    background-color: #172741;
  }

  .lk {
    color:  white;
  }

  .form-container {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    max-width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #172741;
    position: relative;
  }
  
  .circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #d65e20);
    position: absolute;
  }
  
  .circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
  }
  
  .circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #d65e20;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.3rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  
  .input {
    max-width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #172741;
    border: 2px solid #fafafa;
    color: white;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  
  .btn:hover {
    background-color: white;
    color: #d65e20;
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #d65e20;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #172741;
  }
  
  .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
  }
  
  .information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
  }
  
  .icon {
    width: 28px;
    margin-right: 0.7rem;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #333;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #526480, #172741);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #c19a88, #d65e20);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #d65e20;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  
  .big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(167,160,145,0.6), #d65e20);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  
  .big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
  }
  
  .hlogo {
    position: absolute;
    height: 350px;
    top: 50%;
    left: 30%;
    transform: translate(181%, 11%);
    filter: invert(10%) sepia(47%) saturate(1513%) hue-rotate(188deg) brightness(94%) contrast(89%);
    opacity: 20%;
  }


  /* Recent work image galery */
  #content-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
  }

  #recenth1 {
    margin-bottom: 2vh;
    text-decoration: overline;
  }
  
  .column{
    width: 600px;
    max-width: 100%;
    padding: 10px;
    font-size: 1.25rem;
  }
  
  #featured{
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
  
  }
  
  .thumbnail{
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
  
  }
  
  .thumbnail:hover{
    opacity:1;
  }
  
  .active{
    opacity: 1;
  }
  
  #slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
  }
  
  #slider{
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  #slider::-webkit-scrollbar {
      width: 8px;
  }
  
  #slider::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
  }
   
  #slider::-webkit-scrollbar-thumb {
    background-color: #172741;
    outline: 1px solid slategrey;
     border-radius: 100px;
  
  }
  
  #slider::-webkit-scrollbar-thumb:hover{
    outline: 3px solid #d65e20;
  }
  
  .arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
  }
  
  .arrow:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  /* Gallery image */

  .wrapper-grl{
    max-width: 1100px;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .image{
    padding: 5px;
    width: calc(97% / 4);
  }

  .gallery .image span{
    display: flex;
    max-width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    max-width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    max-width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-weight: 400;
    color: #172741;
  }
  .details .title p{
    margin: 0 5px;
    color: #172741;
  }
  .details .title p.current-img{
    font-weight: 500;
    color: #172741;
  }
  .details .icon{
    color: #172741;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    max-width: 100%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    max-width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
  }
  

  /* footer */
footer {
    bottom: 0;
    max-width: 100%;
    display: inline;
    text-align: center;
}

#footer-content {
    background: #172741;
}

#copywrite p {
  color: white;
  padding-bottom: 0.5s;
}

.social-networks {
  text-align: center;
  align-items: center;
}

.social-networks > li {
  display: inline;
}



.social-networks i {
  font-size: 250%;
  padding: 2% 5%;
  color: white;
}

.social-networks i:hover {
  color: #d65e20;
}

/* Media Queries*/

@media(max-width: 1000px){
  .gallery .image{
    max-width: calc(100% / 2);
  }

  .carousel {
    height: 30vh;
  }
}

@media(max-width:768px){

  #about1 {
    display: none;
  }

  #about {
    display: contents;
  }

  #about .galery-1 {
    display: inline-block;
    padding: 0;
  }

  #about .section-left {
    width: 90%;
    padding: 0;
    margin: auto;
    text-align: center;
    /* font-size: 12px; */
}
    
  #about .section-left p{
    color: #172741;
    font-weight: bold;
    text-align: center;
    display: contents;
  }

  
  
  .section-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 50px;
    padding: 25px;
  }

  .column{
    font-size: 1rem;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #172741;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .dynamic {
    max-width: 90vw;
    height: 60vh;
    color: #172741;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dynamic h1 {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .auto-type {
    color: #d65e20;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
  
}

@media(max-width: 600px){
  .gallery .image{
    max-width: 100%;
    padding: 2px;
    width: calc(96% / 2);
  }

.plain-text {
    font-size: 10px;
  }
}
