@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  align-items: center;
}

header {
  background-color: #172741;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  letter-spacing: 3px;
}

.nav-branding {
  text-align: left;
  max-height: 14vh;
  align-items: center;
}

.nav-link {
  transition: 0.7 ease;
}

.nav-link:hover {
  border-bottom: 3px solid #C4A862;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Carousel */

.carousel {
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  .img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }

  .img-container-2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    z-index:-1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
  }

  /* Main msg home page */ 
  .plain-text {
    font-size: 15px;
    margin: 0 50px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('/assets/images/logot.png');
    background-size: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    }
  
    .plain-text h1 {
      color: #172741;
    }

    /* About us */

    .aboutus {
        margin: 25px 25px 50px;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
      }
      
      .aboutus h1 {
        font-size: 6vw;
        font-weight: bold;
        color: #c5aa64;
      }
      
      .aboutus .h2 {
        font-size: 3vw;
      }

      .galery-1 {
        display: flex;
      }

      .text-left-galery {
        width: 50vw;
        height: 500px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .text-left-galery p{
        font-size: 20px;
        color: #172741;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40vw;
        margin-right: 25px;
      }
      
      .text-left {
          background-color: 	rgba(167,160,145,0.3);
          width: 50vw;
          height: 500px;
          border-radius: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
      
      }
      
      .text-left p{
          font-size: 20px;
          color: #172741;
          font-weight: bold;
          text-align: center;
          align-items: center;
          float: right;
      }

      .section-left {
        display: flex;
        padding: 40px;
        width: 100vw;
        height: 500px;
        margin-bottom: 5%;
    }
    
    .section-left img {
        width: 50vw;
        height: 500px;
        border-radius: 25px;
        margin-right: 10px;
    }

    /* Contact Page */

    .wrapper{
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60vh;
      }
      .wrapper .static-text{
        color: #172741;
        font-size: 60px;
        font-weight: 400;
      }
      .wrapper .dynamic-text{
        margin-left: 15px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;
      }
      .dynamic-text li{
        list-style: none;
        color: #c5aa64;
        font-size: 60px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
      }
      .dynamic-text li span{
        position: relative;
        margin: 5px 0;
        line-height: 90px;
      }
      .dynamic-text li span::after{
        content: "";
        position: absolute;
        left: 0;
        height: 110%;
        width: 100%;
        background: white;
        border-left: 2px solid #c5aa64;
        animation: typing 3s steps(19) infinite;
      }
      @keyframes typing {
        40%, 60%{
          left: calc(100% + 30px);
        }
        100%{
          left: 0;
        }
      }


  /* footer */
footer {
    bottom: 0;
    max-width: 100%;
    height: 150px;
    display: inline;
    text-align: center;
}

#footer-content {
    background: #172741;
}

#copywrite p {
  color: white;
  padding-bottom: 0.5s%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.social-networks i:hover {
    color: #C4A862;
}

@media(max-width:786px){
  .hamburger{
    display: block;
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    position: fixed;
    left: -110%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: #172741;
    width: 100%;
    text-align: center;
  }
  
  .nav-item {
    margin: 16px 0; 
  }
  
  .nav-menu.active {
    left: 0;
  }
  
}